{{template "base" .}}

{{define "title"}}Редактирование заметки{{end}}

{{define "main"}}

<h2>Редактирование заметки</h2>
<form action='/note/{{.ID}}/update' method='POST'>
    <div>
        <label for='title'>Заголовок:</label>
        <input type='text' name='title' value="{{.Title}}" required>
    </div>
    <div>
        <label for='content'>Содержание:</label>
        <textarea name='content' required>{{.Content}}</textarea>
    </div>
    <button type='submit'>Изменить</button>
</form>
{{end}}