{{template "base" .}}

{{define "title"}}Домашняя страница {{end}}

{{define "main"}}
    <h2>Последние заметки</h2>
    {{if .}}
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Создана</th>
            <th>ID</th>
        </tr>
        {{range .}}
        <tr>
            <td><a href='/note/{{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>Здесь ничего нет</p>
    {{end}}
{{end}}